* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: black;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button:hover {
  opacity: 0.8;
}

/* -------------------Header---------------------- */

header {
  width: 100%;
  height: 830px;
  position: relative;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 1)
    ),
    url(assets/imgs/bg_header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

/* NavBar */

.header__navbar {
  width: 100%;
  height: 5.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(5, 6, 7, 0.5);
  border-bottom: 3px solid #fdc029;
  border-radius: 0px 0px 30px 30px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__left {
  display: flex;
  justify-content: space-between;
  margin-left: 2.8rem;
}

.nav__left-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.4rem;
}

.nav__left-list a {
  width: 57px;
  height: 19px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 55px;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 3rem;
}

.nav__list-enter {
  border-bottom: #fdc029 0.7rem solid;
  color: #fdc029 !important;
  padding-bottom: 1.3rem;
  border-bottom: 10x solid #fdc029;
  border-radius: 0px 0px 50px 50x;
}

.nav__right {
  display: flex;
  justify-content: space-between;
  margin-right: 4.4rem;
}

.nav__user {
  width: 27px;
  height: 27px;
  margin-left: 2.5rem;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}

.nav__user img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.nav__user > span {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;

  border-bottom: 2rem solid black;
  position: absolute;
  bottom: -80%;
  left: 12%;
}

.man__acc {
  width: 182px;
  height: 327px;
  position: absolute;
  background: #050607;
  border-bottom: 3px solid #fdc029;
  border-radius: 7px 7px 32px 32px;
  right: -2rem;
  top: 4rem;
  display: flex;
  flex-direction: column;
  padding: 1.7rem 0rem 0 1.7rem;
  transition: 1s;
}

.man__acc a:hover {
  color: rgba(255, 255, 255, 1);
}

.man__acc a {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.6);
}

.man__acc i {
  font-size: 2rem;
  width: 2.7rem;
}

.man__acc span {
  margin-left: 1rem;
}

.man__acc > a {
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  margin-top: 0.5rem;
}

.nav__search {
  width: 310px;
  height: 29px;
  right: 96px;
  top: 13px;
  display: flex;
  background: #1d2328;
  border: 1px solid #ffffff;
  border-radius: 15px;
  margin-left: 6rem;
}

.nav__search > i {
  font-size: 2rem;
  padding: 0.5rem;
  color: #ffffff;
}

.nav__search > input {
  width: 25rem;
  padding: 0 1rem;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.nav__center a button {
  width: 199px;
  height: 43px;
  border: none;
  outline: none;
  background: #fdc029;
  border-radius: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #171820;
}

/* Header container */

.header__ctn {
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  transform: translateX(-50%);
  position: absolute;
  margin-top: 53rem;
}

.header__ctn-img img {
  width: 300px;
  height: 100px;
}

.header__ctn-rating {
  background: rgba(5, 6, 7, 0.8);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  width: 134px;
  height: 34px;
  align-items: center;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 0 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
}

.header__ctn-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.header__ctn-btn-watch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  gap: 5px;
  width: 148px;
  height: 40px;
  right: 213px;
  top: 4px;
  background: #fdc029;
  border-radius: 30px;
}

.header__ctn-btn-watch i {
  font-size: 2rem;
  color: #171820;
}

.header__ctn-btn-watch button {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 0.5rem;
}

.header__ctn-btn-canbinet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  width: 129px;
  height: 40px;

  background: rgba(5, 6, 7, 0.8);
  border-radius: 30px;
}

.header__ctn-btn-canbinet i {
  color: #ffffff;
  font-size: 2rem;
}

.header__ctn-btn-canbinet button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 600;
}

/* ------------------Container------------------ */

.container {
  width: 100%px;
  background: #050607;
}

/* my movie */

.my__movie {
  margin: 0 4.4rem;
  position: relative;
  transform: translateY(-100%);
}

.my__movie h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #ffffff;
}

.my__movie > ul {
  width: 200rem;
  position: relative;
}

.my__movie ul li {
  width: 240px;
  height: 134px;
  display: inline-block;
  position: absolute;
  margin-right: 2rem;
  transition: 0.8s;
  overflow: hidden;
  box-shadow: 0px 2px 4px 2px #9c9c9c;
}

.my__movie ul li img {
  width: 240px;
  height: 134px;
}

.my__movie button {
  height: 134px;
  width: 4.4rem;
  background: rgba(5, 6, 7, 0.5);
  color: #ffffff;
  font-size: 2rem;
  border: none;
  position: absolute;
}

.item__movie:nth-child(1) {
  transform: translateX(-330%);
}

.item__movie:nth-child(2) {
  transform: translateX(-220%);
}

.item__movie:nth-child(3) {
  transform: translateX(-110%);
}
.item__movie:nth-child(4) {
  transform: translateX(0%);
}
.item__movie:nth-child(5) {
  transform: translateX(110%);
}

.item__movie:nth-child(6) {
  transform: translateX(220%);
}

.item__movie:nth-child(7) {
  transform: translateX(330%);
}
.item__movie:nth-child(8) {
  transform: translateX(440%);
}
.item__movie:nth-child(9) {
  transform: translateX(550%);
}
.item__movie:nth-child(10) {
  transform: translateX(660%);
}

.item__movie:nth-child(11) {
  transform: translateX(770%);
}

.item__movie:nth-child(12) {
  transform: translateX(880%);
}

.btn-next {
  right: -4.4rem;
}

.btn-prev {
  left: -4.4rem;
}

.movie__name {
  height: 37px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  transition: 0.5s;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: right;

  color: rgba(255, 255, 255, 0.8);
}

.item__movie:hover .movie__name {
  background-size: 150%;
  transform: translateY(-100%);
}

.continue__watch,
.trending__movie,
.new__movie,
.type__movie,
.love__movie,
.anime__movie,
.viet__movie,
.korea__movie {
  margin-top: 20rem;
}

.hero__movie,
.watched__movie {
  margin-top: 38rem;
}

/* type movie */

.type__movie ul li {
  width: 177px;
  height: 261px;
  overflow: initial;
}

.type__movie ul li img {
  width: 177px;
  height: 261px;
}

.type__movie ul li span {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 19px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transform: translateY(100%);
}

.type__movie button {
  height: 261px;
}

.my__movie img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.type__movie img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

footer {
  width: 100%;
  height: 359px;
  margin-top: 24rem;
  background: #141414;
  border-top: 3px solid #fdc029;
  border-radius: 30px 30px 0px 0px;
}

/* -----------footer---------------- */

#footer {
  color: #fff;
  background-color: #141414;
  border-top: 3px solid #fdc029;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer-container {
  margin: 44px 0 0 44px;
  color: rgba(255, 255, 255, 0.6);
  display: grid;
  grid-template-columns: 350px 500px auto;
}

dt {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

dd {
  font-size: 16px;
}

dt,
dd {
  padding: 15px;
}

dd:hover {
  color: #fff;
  cursor: pointer;
}

.logos {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

.logo {
  margin: 15px 60px 30px 0;
}

.logos .logo1,
.logos .logo2,
.logos .logo3 {
  width: 100px;
}

#footer .contact-icon {
  margin-bottom: 30px;
  font-size: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.contact-icon .icon {
  padding: 15px;
  opacity: 0.6;
  color: rgba(255, 255, 255, 0.6);
  transform: translateY(-100%);
}

.contact-icon li:hover .icon {
  opacity: 1;
}

.go-top {
  position: fixed;
  bottom: 20px;
  right: 60px;
  background: #fdc029;
  color: #fff;
  width: 54px;
  height: 54px;
  display: grid;
  place-items: center;
  border-radius: 15px;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
  transition: 1s ease-in;
  z-index: 2;
  visibility: hidden;
}

.go-top i {
  font-size: 2rem;
}

.go-top.active {
  visibility: visible;
}

.hidden {
  display: none !important;
}

/* -------------Movie Detail--------------- */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  backdrop-filter: blur(5px);
}

.movie__detail {
  width: 712px;
  height: 750px;
  background: #050607;
  border-bottom: 4px solid #fdc029;
  position: absolute;
  z-index: 10;
  top: 1em;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;
  overflow-y: scroll;
  overflow-x: hidden;
}

.movie__detail::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.detail-bg {
  position: relative;
  width: 712px;
  height: 432px;
  overflow: hidden;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 1)
    ),
    url(assets/imgs/Video_Card.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.detail-title {
  position: absolute;
  width: 319px;
  height: 129px;
  overflow: hidden;
  left: 32px;
  bottom: 16px;
}

.detail-title img {
  width: 179px;
  height: 63px;
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

.btn-detail {
  display: flex;
  justify-content: space-between;
  padding-right: 2.8rem;
}

.btn-detail-watch {
  width: 149px;
  height: 40px;
  left: 0px;
  top: 0px;

  background: #fdc029;
  border-radius: 30px;
  padding: 0 2rem;
}

.btn-detail-watch a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-detail i {
  font-size: 2rem;
  color: black;
}

.btn-detail-watch button {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 40px;
  color: #050607;
  border: none;
  background-color: transparent;
}

.btn-detail-canbi {
  display: flex;
  width: 129px;
  height: 40px;
  right: 28px;
  top: 0px;
  align-items: center;
  padding: 0 2rem;
  background: rgba(5, 6, 7, 0.8);
  border-radius: 30px;
  justify-content: space-around;
}

.btn-detail-canbi button {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 40px;
  color: #fff;
  border: none;
  background-color: transparent;
}

.btn-detail-canbi i {
  color: #fff;
}

.detail-ctn {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  margin-left: 3.2rem;
  color: rgba(255, 255, 255, 0.8);
  width: 425px;
}

.detail-ctn > span {
  display: flex;
  margin-top: 2.5rem;
}

.detail-ctn > span i {
  margin-right: 1rem;
}

.detail-ctn > p {
  margin-top: 2rem;
  line-height: 19px;
  text-align: justify;
}

/* detail foot */
.detail-foot-list {
  width: 712px;
  height: 48px;
  padding: 0 8rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  color: #ffffff;
  bottom: 0rem;
  position: absolute;
}

.detail-foot {
  position: relative;
  height: 25rem;
}

.detail-foot span {
  cursor: pointer;
}

.detail-foot-item-enter {
  color: #fdc029;
  border-bottom: solid 0.7rem #fdc029;
  padding: 1.3rem 0.5rem;
  transition: all 0.5s;
}

.fix {
  overflow-y: hidden;
}

/* detail movie 2 */

.detail-ctn-2,
.detail-ctn-3,
.detail-ctn-4 {
  width: 100%;
  margin-bottom: 20rem;
}

.part__movie {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
  width: 100%;
  padding-right: 8rem;
}

.part__movie select {
  width: 109px;
  height: 29px;
  border-radius: 10rem;
  background-color: transparent;
  color: #fff;
  padding: 0 0.5rem;
  border: solid #fff 2px;
  font-size: 1.6rem;
}

.part__movie .part__item {
  background-color: black;
  border: none;
  outline: none;
}

.detail__movie-list {
  margin-top: 5rem;
  position: relative;
  z-index: 20;
}

.detail__movie-list .btn-prev {
  position: absolute;
  left: -12.2%;
}

.detail__movie-list .btn-next {
  right: -2%;
}

.detail-ctn-2 .detail__movie-list .item__movie,
.detail-ctn-3 .detail__movie-list .item__movie {
  overflow: initial;
}

.detail-ctn-2 .detail__movie-list .item__movie img:hover,
.detail-ctn-3 .detail__movie-list .item__movie img:hover {
  transform: scale(1);
}

.detail-ctn-2 .detail__movie-list .item__movie .name-title,
.detail-ctn-3 .detail__movie-list .item__movie .name-title {
  display: flex;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  justify-content: space-between;
  margin-top: 1rem;
  color: #ffffff;
}

.detail-ctn-2 .detail__movie-list .item__movie p,
.detail-ctn-3 .detail__movie-list .item__movie p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.detail-ctn-3 h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;

  color: #ffffff;
}

/* detail ctn 4 */

.detail-ctn-4 {
  display: flex;
  justify-content: space-between;
  padding-right: 20rem;
  margin-top: 5rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 0rem;
  color: #ffffff;
  transition: 1s;
}

.dt1 p {
  margin-bottom: 5rem;
}

.dt3 p:first-child {
  margin-bottom: 10rem;
}

/* log in */

.log__in {
  position: fixed;
  z-index: 30;
  width: 400px;
  height: 441px;
  background: #050607;
  border-width: 3px 0px;
  border-style: solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #fdc029;
  border-radius: 15px;
}

.log__in h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-left: 50%;
  transform: translateX(-50%);
  color: #fdc029;
  text-align: center;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.log__in > p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  margin-left: 3.2rem;
  color: #ffffff;
}

.log__in > input {
  width: 336px;
  height: 31px;
  left: 0px;
  top: 23px;
  background: #1b1b1b;
  border: none;
  border-radius: 7px;
  margin-left: 3.2rem;
  margin-top: 5px;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  color: #fff;
}

.log__in > input:focus {
  border: 1px solid #fdc029;
}

.save__infor {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #b3b3b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3.2rem;
}

.save__infor input {
  background: #ffffff;
  border-radius: 4x;
}
.log-in-btn {
  margin: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.log-in-btn button {
  width: 158px;
  height: 40px;
  left: 0px;
  bottom: 0px;

  background: #fdc029;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #050607;
}

.log-in-btn span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #b3b3b3;
}

.log-in-btn i {
  color: #ffffff;
  font-size: 3rem;
  border-radius: 50%;
}

.log__in h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fdc029;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
}

.cctk {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #b3b3b3;
  text-align: center;
  margin: 0 3.2rem;
}

/* sig up */

.sig__up {
  position: fixed;
  z-index: 400;
  width: 400px;
  height: 480px;
  background: #050607;
  border-width: 3px 0px;
  border-style: solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #fdc029;
  border-radius: 15px;
}

.sig__up h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-left: 50%;
  transform: translateX(-50%);
  color: #fdc029;
  text-align: center;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.sig__up p {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  margin-left: 3.2rem;
  color: #ffffff;
}


.sig__up > input {
  width: 336px;
  height: 31px;
  left: 0px;
  top: 23px;
  background: #1b1b1b;
  border: none;
  border-radius: 7px;
  margin-left: 3.2rem;
  margin-top: 5px;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  color: #fff;
}

.sig-up-btn {
  margin: 0 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sig-up-btn button {
  width: 158px;
  height: 40px;
  left: 0px;
  bottom: 0px;

  background: #fdc029;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #050607;
}

.sig-up-btn span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #b3b3b3;
}

.sig-up-btn i {
  color: #ffffff;
  font-size: 3rem;
  border-radius: 50%;
}


/* custom scrollbar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fdc029;
  border-radius: 10px;
}