* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: black;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button:hover {
  opacity: 0.8;
}

/* --------------header----------------- */

header {
  width: 1440px;
  height: 895px;
  position: relative;
  margin-top: 1rem;
}

header video {
  width: 100%;
  margin-left: 4rem;
  
}

.back__video {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 44px;
  gap: 16px;

  position: absolute;
  width: 561px;
  height: 64px;
  left: 0px;
  top: 0px;

  background: rgba(5, 6, 7, 0.5);
  border-radius: 0px 30px 30px 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-items: center;

  color: #fdc029;
}

.back__video i{
    color: #fdc029;
    font-size: 3rem;
    padding: 0 2rem;
}

/* --------------------fotter----------- */
#footer {
  color: #fff;
  background-color: #141414;
  border-top: 3px solid #fdc029;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer-container {
  margin: 44px 0 0 44px;
  color: rgba(255, 255, 255, 0.6);
  display: grid;
  grid-template-columns: 350px 500px auto;
}

dt {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

dd {
  font-size: 16px;
}

dt,
dd {
  padding: 15px;
}

dd:hover {
  color: #fff;
  cursor: pointer;
}

.logos {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

.logo {
  margin: 15px 60px 30px 0;
}

.logos .logo1,
.logos .logo2,
.logos .logo3 {
  width: 100px;
}

#footer .contact-icon {
  margin-bottom: 30px;
  font-size: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.contact-icon .icon {
  padding: 15px;
  opacity: 0.6;
  color: rgba(255, 255, 255, 0.6);
  transform: translateY(-100%);
}

.contact-icon li:hover .icon {
  opacity: 1;
}

.go-top {
  position: fixed;
  bottom: 20px;
  right: 60px;
  background: #fdc029;
  color: #fff;
  width: 54px;
  height: 54px;
  display: grid;
  place-items: center;
  border-radius: 15px;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
  transition: 1s ease-in;
  z-index: 2;
  visibility: hidden;
}

.go-top i {
  font-size: 2rem;
}

.go-top.active {
  visibility: visible;
}

.hidden {
  display: none !important;
}
