/* FOOTER */
#footer {
    color: #fff;
    background-color: #141414;
    border-top: 3px solid #fdc029;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  
  .footer-container {
    margin: 44px 0 0 44px;
    color: rgba(255, 255, 255, 0.6);
    display: grid;
    grid-template-columns: 350px 500px auto;
  }
  
  dt {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
  }
  
  dd {
    font-size: 16px;
  }
  
  dt,
  dd {
    padding: 15px;
  }
  
  dd:hover {
    color: #fff;
    cursor: pointer;
  }
  
  .logos {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
  }
  
  .logo {
    margin: 15px 60px 30px 0;
  }
  
  .logos .logo1,
  .logos .logo2,
  .logos .logo3 {
    width: 100px;
  }
  
  #footer .contact-icon {
    margin-bottom: 30px;
    font-size: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  
  .contact-icon .icon {
    padding: 15px;
    opacity: 0.6;
    color: #fff;
    transform: translateY(-100%);
  }
  
  .contact-icon li:hover .icon {
    opacity: 1;
  }

  /* custom scrollbar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fdc029;
  border-radius: 10px;
}