
/* NavBar */

.header__navbar {
    width: 100%;
    height: 5.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(5, 6, 7, 0.5);
    border-bottom: 3px solid #fdc029;
    border-radius: 0px 0px 30px 30px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__left {
    display: flex;
    justify-content: space-between;
    margin-left: 2.8rem;
  }
  
  .nav__left-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.4rem;
  }
  
  .nav__left-list a {
    width: 57px;
    height: 19px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 55px;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 3rem;
  }
  
  .nav__list-enter {
    border-bottom: #fdc029 0.7rem solid;
    color: #fdc029 !important;
    padding-bottom: 1.3rem;
    border-bottom: 10x solid #fdc029;
    border-radius: 0px 0px 50px 50x;
  }
  
  .nav__right {
    display: flex;
    justify-content: space-between;
    margin-right: 4.4rem;
  }
  
  .nav__user {
    width: 27px;
    height: 27px;
    margin-left: 2.5rem;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }
  
  .nav__user img {
    width: 27px;
    height: 27px;
    border-radius: 50%;
  }
  
  .nav__user > span {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
  
    border-bottom: 2rem solid black;
    position: absolute;
    bottom: -80%;
    left: 12%;
  }
  
  .man__acc {
    width: 182px;
    height: 327px;
    position: absolute;
    background: #050607;
    border-bottom: 3px solid #fdc029;
    border-radius: 7px 7px 32px 32px;
    right: -2rem;
    top: 4rem;
    display: flex;
    flex-direction: column;
    padding: 1.7rem 0rem 0 1.7rem;
    transition: 1s;
  }
  
  .man__acc a:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  .man__acc a {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .man__acc i {
    font-size: 2rem;
    width: 2.7rem;
  }
  
  .man__acc span {
    margin-left: 1rem;
  }
  
  .man__acc > a {
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    margin-top: 0.5rem;
  }
  
  .nav__search {
    width: 310px;
    height: 29px;
    right: 96px;
    top: 13px;
    display: flex;
    background: #1d2328;
    border: 1px solid #ffffff;
    border-radius: 15px;
    margin-left: 6rem;
  }
  
  .nav__search > i {
    font-size: 2rem;
    padding: 0.5rem;
    color: #ffffff;
  }
  
  .nav__search > input {
    width: 25rem;
    padding: 0 1rem;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
  
    color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
  }
  
  .nav__center a button {
    width: 199px;
    height: 43px;
    border: none;
    outline: none;
    background: #fdc029;
    border-radius: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #171820;
  }

  .hidden {
    display: none;
  }