/* PUSH TO TOP */
.go-top {
    position: fixed;
    bottom: 20px;
    right: 60px;
    background: #fdc029;
    color: #fff;
    width: 54px;
    height: 54px;
    display: grid;
    place-items: center;
    border-radius: 15px;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
    transition: 1s ease-in;
    z-index: 2;
    visibility: hidden;
  
  }
  
  .go-top i {
    font-size: 2rem;
  }
  
  .go-top.active {
    visibility: visible;
  }